nav {
    position: absolute;
    display: flex;
    width: 100%;
    padding-top: 5px;
    justify-content: flex-end;
    background-color: #1ab0a5;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    text-shadow: 2px;
    transition: 2s;
}

nav a:visited {
    color: #000;
}
