.new {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
}

.new .name input {
    margin-right: 10px;
}

input, label {
    display: block;
}

.float-input {
    float: left;
}

#ID {
    width: 50px;
}

.new .name #sex {
    width: 20px;
}

.email input {
    margin-right: 10px;
}

#email {
    width: 350px;
}

#address {
    width: 400px;
}

.new .date {
    margin: 10px 0 10px 0;
}

.date input {
    margin: 0 10px 0 0;
}

#weight, #height {
    width: 50px;
}

.complaints {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.complaints textarea {
    height: 100px;
}

.measure input {
    margin: 0 10px 10px 0;
    width: 50px;
}

.measure label {
    margin-top: 10px;
}

#obs {
    height: 100px;
    width: 900px;
}

.buttons {
    display: inline;
}

.buttons button {
    margin: 20px;
    height: 25px;
    width: 70px;

}




