<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="new" >
    <div class="name">
        <label for="ID">Id:</label><input type="number" id="ID" name="id" [(ngModel)]="ID" />
        <label for="name">Nome:</label><input type="text" id="name" name="nome" [(ngModel)]="nome"/>
        <label for="sex">Sexo:</label><input type="text" id="sex" name="sexo" [(ngModel)]="sexo"/>
        <label for="ecivil">Estado Civil:</label><input type="text" name="estadocivil" [(ngModel)]="estadocivil"/>
    </div>
    <div class="email">
        <label for="email">E-mail</label><input type="email" id="email" name="email" [(ngModel)]="email"/>
        <label for="address">Endereço</label><input type="text" id="address" name="endereco" [(ngModel)]="endereco"/>
    </div>
    <div class="date">
        <label for="date">Data de Nascimento:</label><input type="date" id="date" name="nascimento" [(ngModel)]="nascimento"/>
        <label for="occupation">Profissão:</label><input type="text" id="occupation" name="profissao" [(ngModel)]="profissao"/>
        <label for="phone">Telefone:</label><input type="phone" id="phone" name="telefone" [(ngModel)]="telefone"/>
        <label for="weight">Peso:</label><input type="number" id="weight" name="peso" [(ngModel)]="peso"/>
        <label for ="height">Altura:</label><input type="number" id="height" name="altura" [(ngModel)]="altura"/>
    </div>
    <div class="complaints">
        <label for="complain">Queixa:</label><textarea type="text" id="complain" name="queixa" [(ngModel)]="queixa"></textarea>
        <label for="current">Doença atual:</label><textarea type="text" id="current" name="doencaatual" [(ngModel)]="doencaatual"></textarea>
        <label for="pre">Doença Pre:</label><textarea type="text" id="pre" name="doencapre" [(ngModel)]="doencapre"></textarea>
        <label for="associate">Doença Assoc:</label><textarea type="text" id="associate" name="doencaassoc" [(ngModel)]="doencaassoc"></textarea>
        <label for="history">História:</label><textarea type="text" id="history" name="historia" [(ngModel)]="historia"></textarea>
        <label for="habits">Hábitos:</label><textarea type="text" id="habits" name="habitos" [(ngModel)]="habitos"></textarea>
        <label for="medicine">Medicações:</label><textarea type="text" id="medicine" name="medicacoes" [(ngModel)]="medicacoes"></textarea>
        <label for="state">Estado:</label><textarea type="text" id="state" name="estado" [(ngModel)]="estado"></textarea>
    </div>
    <div class="measure">
        <label for="pa">PA:</label><input type="number" id="pa" name="pa" [(ngModel)]="pa"/>
        <label for="fc">FC:</label><input type="number" id="fc" name="fc" [(ngModel)]="fc"/>
        <label for="fr">FR:</label><input type="number" id="fr" name="fr" [(ngModel)]="fr"/>
        <label for="sp">SPO2:</label><input type="number" id="sp" name="sp" [(ngModel)]="sp"/>
        <br />
        <label for="obs">Observação:</label><br /><textarea type="text" id="obs" name="observacao" [(ngModel)]="observacao"></textarea>
    </div>
    <div class="buttons">
        <button type="submit" id="btn-save">Salvar</button>
        <button id="btn-clean" type="reset">Limpar</button>
    </div>
</form>
