<div class="new">
    <div class="name">
        <label for="id">Id</label><input type="number" [id]="id" id="id"/>
        <label for="name">Nome:</label><input type="text" id="name"/>
        Sexo: <input type="text" />
        Estado Civil: <input type="text" />
    </div>
    <div class="email">
        <label for="email">E-mail</label><input type="email" id="email"/>
        <label for="address">Endereço</label><input type="text" id="address"/>
    </div>
    <div class="date">
        <label for="date">Data de Nascimento:</label><input type="date" id="date"/>
        <label for="occupation">Profissão:</label><input type="text" id="occupation"/>
        <label for="phone">Telefone:</label><input type="number" id="phone"/>
        <label for="weight">Peso:</label><input type="text" id="weight"/>
        <label for ="height">Altura:</label><input type="text" id="height"/>
    </div>
    <div class="complaints">
        <label for="complain">Queixa:</label><textarea type="text" id="complain"></textarea>
        <label for="current">Doença atual:</label><textarea type="text" id="current"></textarea>
        <label for="pre">Doença Pre:</label><textarea type="text" id="pre"></textarea>
        <label for="associate">Doença Assoc:</label><textarea type="text" id="associate"></textarea>
        <label for="history">História:</label><textarea type="text" id="history"></textarea>
        <label for="habits">Hábitos:</label><textarea type="text" id="habits"></textarea>
        <label for="medicine">Medicações:</label><textarea type="text" id="medicine"></textarea>
        <label for="state">Estado:</label><textarea type="text" id="state"></textarea>
    </div>
    <div class="measure">
        <label for="pa">PA:</label><input type="text" id="pa"/>
        <label for="fc">FC:</label><input type="number" id="fc"/>
        <label for="fr">FR:</label><input type="text" id="fr"/>
        <label for="sp">SP:</label><input type="text" id="sp"/>
        <br />
        <label for="obs">Observação:</label><br /><textarea type="text" id="obs"></textarea>
    </div>
</div>
