<div class="all-pacientes">
    <table mat-table [dataSource]="pacientes$ | async" class="pacientes-table">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let paciente">{{paciente.id}}</td>
        </ng-container>
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let paciente">{{paciente.nome}}</td>
        </ng-container>
        <ng-container matColumnDef="sexo">
            <th mat-header-cell *matHeaderCellDef>Sexo</th>
            <td mat-cell *matCellDef="let paciente">{{paciente.sexo}}</td>
        </ng-container>
        <ng-container matColumnDef="tel">
            <th mat-header-cell *matHeaderCellDef>Telefone</th>
            <td mat-cell *matCellDef="let paciente">{{paciente.telefone}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>E-mail</th>
            <td mat-cell *matCellDef="let paciente">{{paciente.email}}</td>
        </ng-container>
        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let paciente"><button (click)="updatePaciente(paciente.id)">Editar</button></td>
        </ng-container>
        <ng-container matColumnDef="progressao">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let paciente"><button >Evoluir</button></td>
        </ng-container>
        <ng-container matColumnDef="excluir">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let paciente"><button (click)="pacienteDelete(paciente.id)">Excluir</button></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>        
    </table>
</div>
