<div class="all-pacientes">
    <table class="pacientes-table">
        <tr class="header">
            <th class="header-cell">Id</th>
            <th class="header-cell">Nome</th>
            <th class="header-cell">Sexo</th>
            <th class="header-cell">Telefone</th>
            <th class="header-cell">Nascimento</th>
            <th class="header-cell"colspan="2">Excluir Todos</th>
        </tr>
        <tr *ngFor="let paciente of pacientes">
            <td>{{paciente.id}}</td>
            <td>{{paciente.nome}}</td>
            <td>{{paciente.sexo}}</td>
            <td>{{paciente.telefone}}</td>
            <td>{{paciente.nascimento}}</td>
            <td><button (click)=updatePaciente(paciente.id)>Editar</button></td>
            <td><button (click)="pacienteDelete(paciente.id)">Deletar</button></td>
        </tr>
        
    </table>
</div>