.app {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
}

.app #logo {
    align-self: center;
}

.search-box {
    margin-top: -50px;
}

.app input {
    width: 380px;
    align-self: center;
    margin-left: -15px;
    margin-bottom: 200px;
    border-radius: 2px;
}

#search {
    width: 20px;
    height: 15px;
}

button {
    background-color: white;
    border: 0;
}
