<div class="app">
    <img src="../assets/bemestar_logo.jpeg" id="logo"/>
    <div class="search-box">
        <input 
            type="text" 
            id="pacienteSearch" 
            #paciente 
            (keydown.enter)="onSubmit(paciente.value)" 
            (keydown)="onPress(paciente.value)"
            [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>

        <button (click)="onSubmit(paciente.value)" (keydown.enter)="onSubmit(paciente.value)"><img src="../assets/search.png" id="search"/></button>
    </div>
</div>

